/clint.log
/coverage.log
/ctype
/distcheck.log
/dlfcn
/errno
/fixme.log
/fnmatch
/iconv
/includes
/inttypes
/langinfo
/math
/mman
/msg
/netdb
/ptrace
/pwd
/regex
/resource
/rt
/select
/setjmp
/shm
/signal
/socket
/ssp
/start
/stdarg
/stdint
/stdio
/stdlib
/string
/strings
/tests.log
/time
/unistd
/utsname
